/*Base Rules*/
* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	margin: 0px;
}

p {
	font-size: 16px;
}

.hero-text,
p {
	color: hsl(0, 36%, 70%);
}

.container {
	border: 1px solid red;
}

.logo {
	margin: 30px;
	width: 21%;
}

.hero-mob {
	max-width: 72%;
}

button {
	padding: 10px;
	border-radius: 30%;
}

/*Media Query*/

.hero-desk {
	display: none;
}