/*Base Rules*/
* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	margin: 0px;
	background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));	
}

h1 {
	margin: 0px 0px 10px 0px;
	font-size: 2.2em;
	letter-spacing: .3em;
}

.container {
	text-align: center;
}

.hero-text,
p {
	color: hsl(0, 36%, 70%);
}

.logo {
	margin: 30px;
	width: 25%;
}

.hero-img-mob {
	object-fit: contain;
	margin-bottom: 2em;
}

.tagline {
	margin: 25px 37px 25px 37px;
	font-weight: 100;
	line-height: 1.6em;
	letter-spacing: .01em;
}

.email {
	/* color: hsl(0, 93%, 68%); */
	/* border: 1px solid red; */
	padding: 10px;
	margin: 0px 30px 5px 30px;
}

input {
	border: 1px solid hsl(0, 36%, 85%);
	border-radius: 22px;
	padding: 15px 15px 15px 20px;
	text-align: left;
	width: 225px;
	height: 45px; 
}

::placeholder {
	color: hsl(0, 36%, 75%);
}

button {
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)) ;
	padding: 10px 20px;
	border: 0;
	border-radius: 20px;
	color: white;
	width: 55px;
	height: 44px;
	font-size: 1.2em;
}

/* input[type="text"] {
    width: 200px;
    height: 20px;
    padding-right: 50px;
}*/

/* input[type="submit"] {
    margin-left: -50px;
    height: 25px;
    width: 50px;
    background: blue;
    color: white;
    border: 0;
    -webkit-appearance: none;
} */

#error {
	color: red;
	margin: 0px;
	padding: 10px;
	font-size: .8em;
}

footer {
	margin: 50px 20px 20px 20px;
}

/*Media Query*/

.hero-desk {
	display: none;
}